body {
    background-color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
}

h1 {
    font-size: 50px;
    color: #F1D806;
    text-align: center;
    background-color: #0265AD;
}

p {
    text-align: center;
    text-decoration: none;
}

nav {
    text-align: center;
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-align: center;
}

img {
    display: block;
    width: 50%;
    height: 20%;
    image-rendering: crisp-edges;
    margin: auto;
    border: solid #0265AD 7px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subscribe {
    margin: 1rem 2rem;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
}

.subscribe-form__label {
    margin-bottom: 0.25rem;
}

.subscribe-form__input {
    margin-bottom: 0.5rem;
}

.subscribe-form__input--textarea {
    resize: none;
}

footer {
    text-align: center;
    background-color: darkblue;
    color: black;
    width: 100%;
    height: 50px;
}

h2 {
    text-align: center;
    color:#F1D806;
    font-size: 30px;
}

h3 {
    color: #F1D806;
    text-align: left;
    font-size: 30px;
    text-indent: 25px;
}

section {
    border: solid #0265AD 7px;
    text-decoration: none;
}

a:link {
  background-color: #0265AD;
}

a:visited {
  background-color: #0265AD;
}

a:hover {
  background-color: #F1D806;
}

a:active {
  background-color: peachpuff;
}

figcaption {
    text-align: center;
}

figure {
    width: 70%;
    height: 30%;
    margin: auto;
}

article {
    width: 100%;
    height: 50%;
    text-indent: 18rem;
    background-color: darkblue;
    border: solid darkblue 5px;
}

.navbar {
    position:sticky;
    top: 0;
    overflow: hidden;
    background-color: #0265AD;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: darkblue;
    color: #F1D806
}

.navbar a.active {
    background-color: #0265AD;
    color: #F1D806;
}

.content {
    padding: 16px;
}

img {
    height: 40%;
    width: 30%;
}

.parentContainer {
    position: relative;
    text-align: center;
    color: black;
    height: 100%;
    width: 99%;
}

.centered {
    position: absolute;
    top: 2%;
    left: 34%
}

.banner {
    height: 500px;
    width: 101%;
    margin: 0 auto;
    background-image: url("images/lakecrema.jpg");
    border-bottom: solid 7px #0265AD;
}

.container {
  display: flex;
  background-color: darkblue;
  flex-direction: column;
}

.container div {
  margin: 5px;
  padding: -5rem;
  font-size: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 33%;
  padding: 30px;
  height: 100%;
  width: 30px;
}

.myImage {
  float: left;
  height: 500px;
  width: 300px;
}

.h4 {
  float:right;
}

p {
  color: black;
  border: 7px solid darkblue;
  background-color: #0265AD;
}